<!doctype html>
<html lang="en" ng-app="muteApp">
<head>
  <meta charset="utf-8">
  <title>Mute</title>
  <script src="js/angular/angular.js"></script>
  <script src="js/muteapp.js"></script>
</head>
<body  ng-controller="muteListsCtrl">
<div id="menu" style="padding-bottom:1em; border-bottom:1px solid black;" >
	Nym: <select ng-model="pseudonym" ng-change="hideMessage(); refresh();" ng-options="pseudonym.name for pseudonym in pseudonyms"></select> <button id="settingsButton" ng-click="showSettings();">Settings</button>
</div>

<div id="sidebar" style="float:left; padding:1em; border-right:1px solid black; margin-right:2em;">
	<div id="nymselect"  >
		<p>{{ pseudonym.name }}</p>
		<button id="compose" ng-click="composeMessage(null);">Compose</button>
	</div>
	<div id="globalfolders">
		<ul>
			<li><span ng-click="folder='inbox';updateMessageList();">Inbox</span> <button id="fetch" ng-click="fetch();">Fetch</button></li>
			<li ng-click="folder='outbox';updateMessageList();">Outbox</li>
			<li ng-click="folder='sent';updateMessageList();">Sent</li>
			<li ng-click="folder='archive';updateMessageList();">Archive</li>
			<li ng-click="folder='trash';updateMessageList();">Trash</li>
		</ul>
	</div>
	<div id="recent">
		Recent contacts
		
		<ul>
			<li ng-repeat="contact in contacts.recent" ng-click="composeMessage(contact.name);">{{contact.name}}</li>
		</ul>
		<!-- {{ contacts | json }} -->
	</div>
	<div id="favorites">
		Favorite contacts
		<ul>
			<li ng-repeat="contact in contacts.favorites" ng-click="composeMessage(contact.name);">{{contact.name}}</li>
		</ul>
	</div>
	<div id="contacts">
		All Contacts
		<ul>
			<li ng-repeat="contact in contacts.all" ng-click="composeMessage(contact.name);">{{contact.name}}</li>
		</ul>
	</div>
</div>
<div id="content" style="padding-top:1em;">
	<div id="messagelist">
		<table>
			<thead>
				<tr>
					<th>Contact</th>
					<th>Subject</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="message in messages.messages" ng-click="showMessage(message.messageid);">
					<td>{{ message.contact }}</td>
					<td>{{ message.subject }}</td>
					<td>{{ message.date }}</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="messages.more == true" style="display:inline;">
			<button id="list_next" ng-click="updateMessageList(page+1);">Next</button>
		</div>
		<div ng-if="messages.more != true" style="display:inline;">
			<button id="list_next" disabled>Next</button>
		</div>
		<div ng-if="messages.less == true"  style="display:inline;">
			<button id="list_previous" ng-click="updateMessageList(page-1);">Previous</button>
		</div>
		<div ng-if="messages.less != true" style="display:inline;">
			<button id="list_previous" disabled>Previous</button>
		</div>
	</div>


	<div id="settingsDiv" ng-if="show_settings == true">
		<div>
			<button ng-click="saveSettings();">Save</button>
			<button ng-click="hideMessage();">Close</button>
		</div>
		<h3>Settings</h3>
		{{ settingsContent | json}}
	</div>

	<div id="showMessage" ng-if="display_message == true">
		<div>
			<button ng-click="composeMessage(null,actMessage.messageid);">Reply</button>
			<button ng-click="deleteMessage(actMessage.messageid);">Delete</button>
			<button ng-click="hideMessage();">Close</button>
		</div>
		<div>From:{{ actMessage.From }}</div>
		<div>To:{{ actMessage.To }}</div>
		<div>CC:{{ actMessage.CC }}</div>
		<div>Subject:{{ actMessage.Subject }}</div>
		<div>{{ actMessage.Body }}</div>
	</div>


	<div id="editmessage" ng-if="edit_message == true">
		<div>
			<button ng-click="send();">Send</button>
			<button ng-click="hideMessage();">Close</button>
		</div>
		<form>
			<input type="hidden" name="message_inReplyTo" ng-model="newMessage.InReplyTo" />
			<div><label for="message_to">To:</label><input type="text" name="message_to" id="message_to" ng-model="newMessage.To" /></div>
			<div><label for="message_subject">Subject:</label><input type="text" name="message_subject" id="message_subject" ng-model="newMessage.Subject" /></div>
			<div><label for="message_cc">CC:</label><input type="text" name="message_cc" id="message_cc" ng-model="newMessage.CC" /></div>
			<div><textarea name="message_body" id="message_body" ng-model="newMessage.Body" /></div>
		</form>
	</div>

</div>

</body>
</html>